.container {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50%;
}

.button {
  background: #234524;
  border: none;
  color: white;
  padding: 10px 45px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 1s;
}

.button:active {
  position: relative;
  top: 1px;
}
